* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.productsWrapper {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
  /* background-color: rgb(243, 245, 249); */
  margin-top: 50px;
}
.product {
  width: 200px;

  background-color: rgb(255, 255, 255);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product_details {
  padding: 10px 10px 0 12px;
}
.product:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.product_img img {
  width: 120px;
  height: 120px;
  margin: 10px 0 12px;
}
.product_img {
  display: flex;
  justify-content: center;
}
.product .title {
  font-size: 0.9rem;
}
.product .price {
  font-weight: 500;
}
.add_to_cart {
  background: rgb(209, 87, 1);
}
.add_to_cart button {
  outline: none;
  border: none;
  background: rgb(209, 87, 1);
  padding: 10px;
  width: 100%;
  color: aliceblue;
  cursor: pointer;
}
.addIcons {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  justify-content: space-around;
}
.addIcons button {
  font-size: 1.5rem;
}

.header {
  display: flex;
  padding: 30px 50px 10px;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.header input {
  padding: 13px;
  outline: none;
  border: none;
  background-color: rgb(243, 245, 249);
  width: 300px;
  border-radius: 5px;
}
.header button {
  padding: 10px;
  border: 1px solid rgb(209, 87, 1);
  background-color: rgb(209, 87, 1);
  color: white;
  cursor: pointer;
}
.icons_home_category {
  cursor: pointer;
  display: flex;
  flex-direction: row;

  gap: 50px;
}
.icon_category:hover {
  background-color: rgb(243, 245, 249);
  padding: 5px;
}
.icon_category {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 1.2rem;
  font-weight: 500;
}

.categoriesWrapper {
  position: relative;
}
.categoriesWrapper:hover .categories {
  display: flex;
}
.categories {
  position: absolute;
  top: 30;
  display: none;
  flex-direction: column;

  width: 150%;
  text-transform: capitalize;
  font-size: 1.2rem;
  background-color: rgb(243, 245, 249);
  padding: 35px 5px;
}
.categories span {
  padding: 15px 5px;
}
.categories span:hover {
  background-color: rgb(237, 232, 232);
}
.cart {
  position: relative;
}
.cart_items {
  background-color: rgb(209, 87, 1);
  padding: 0 1px;
  border-radius: 1000px;
  color: aliceblue;
  position: absolute;
  top: -8px;
  right: 0.2px;
}

.product_details_portal {
  height: 100%;
  width: 100%;
  background-color: rgba(15, 15, 15, 0.8);
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.inner_product_wrapper {
  background-color: rgb(243, 245, 249);
  width: 500px;
  position: relative;
}
.close_portal_icon{
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    cursor: pointer;
}
.left_right {
  display: flex;
  gap: 10px;
  align-items: center;
}

.portal_img img {
  width: 280px;
}
